body{
	background:  #f5f5f5;
}
header{
	background:#011e29;
}
.header{
	background-color: #011e29;
	color: white;
	padding: 15px;
	text-align: center;
}
.latest-news-section{
	background:  #f5f5f5;
	padding: 30px;
	width: 200px;
}
.pictorial-news-section{
	background: #f5f5f5;
	padding: 10px;
	width: 200px;
	text-align: center;
	border-radius: 10px;
}
